* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Figtree', sans-serif;
    line-height: 1.6;   
    color: #e0e0e0;
    background-color: #141414;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}


nav {
    background-color: #211b45;
    padding: 5px;
    border-bottom: 2px solid #6e4aff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    position: sticky;
    top: 0px;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.logo-img {
    height: 70px;
    width: auto;;
}

.logo-img:hover {
    transform: scale(1.04);
    transition: transform 0.3s;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    font-size: 19px;
    color: #e0e0e0;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s;

}

.nav-links a:hover {
    color: #4a9eff;
}


.hero {
    background-color: #2d2d2d;
    margin-top: 20px;
    margin-left: 140px;
    margin-right: 140px;
    padding: 30px;
    text-align: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 1rem;
    color: #fff;
}

.hero h2 {
    font-size: 35px;
    margin-bottom: 1rem;
    color: #fff;
}

.hero p {
    font-size: 19px;
    margin-bottom: 30px;
    color: #b0b0b0;
}

.search-bar {
    width: 100%;
    max-width: 500px;
    padding: 12px 20px;
    border: 2px solid #6e4aff;
    background-color: #1a1a1a;
    color: #e0e0e0;
    border-radius: 50px;
    font-size: 15px;
}


.categories {
    padding: 30px;
}

.category-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
}

.category-card {
    background-color: #2d2d2d;
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #578fcc;
    border-radius: 10px;
    color: #7daadb;
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s;
}

.category-card:hover {
    background-color: #3a3a3a;
}


.topic-section {
    padding: 30px;
}

.topic-section h3 {
    font-size: 45px;
    text-align: center;
    color: #4a9eff;
    margin-bottom: 25px;
    border-bottom: 2px solid #4a9eff;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom: 5px;
}


.explanation-card {
    
    background-color: #2d2d2d;
    padding: 25px;
    margin-bottom: 30px;
    border-left: 4px solid #8486f5;
    border-right: 4px solid #8486f5;
    border-radius: 30px;
}

.explanation-card h4 {
    font-size: 25px;
    color: #fff;
    margin-bottom: 10px;
}

.simple-answer {
    background-color: #3a3a3a;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #ff4a4a;
}

.analogy {
    background-color: #3a3a3a;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #ffa500;
}

.steps {
    background-color: #3a3a3a;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #00d084;
}

.steps ol {
    margin-left: 25px;
    margin-top: 10px;
}

.steps li {
    margin-bottom: 10px;
}

.fun-fact {
    background-color: #3a3a3a;
    font-size: 18px;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 2px solid #ff6b9d;
}


.about-section {
    padding: 50px;
    min-height: 60px;
}


.about-content {
    background-color: #2d2d2d;
    border-radius: 30px;
    padding: 30px;
    text-align: justify;
}

.about h2 {
    font-size: 40px;
    text-align: center;
    color: #4a9eff;
    margin-bottom: 20px;
    border-bottom: 2px solid #4a9eff;
    padding-bottom: 5px;
}

.about-content h3 {
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 15px;
}

.about-content p {
    font-size: 20px;
    margin-bottom: 15px;
    line-height: 1.8;
}

.about-list {
    margin-left: 25px;
    margin-bottom: 25px;
}

.about-list li {
    margin-bottom: 10px;
}

.cta-box {
    background-color: #3a3a3a;
    padding: 2rem;
    text-align: center;
    margin-top: 3rem;
    border: 2px solid #4a9eff;
    border-radius: 20px;
}

.cta-box h3 {
    color: #8abdf8;
    margin-top: 0;
}


.contact-section {
    padding: 30px 0;
    min-height: 60vh;
    font-size: 30px;
    text-align: center;
}

.contact-intro {
    padding: 20px;
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
    color: #b0b0b0;
}

.contact-form {
    background-color: #2d2d2d;
    border: 2px solid #79a7fb;
    border-radius: 20px;
    padding: 30px;
    max-width: 900px;
    margin: 0 auto;
    font-size: 23px;
    text-align: left;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: #e0e0e0;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #6e4aff;
    border-radius: 15px;
    background-color: #1a1a1a;
    color: #e0e0e0;
    font-size: 19px;
    font-family: 'Figtree', sans-serif;
}

.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #48aa8f;
}

.contact-note {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.1rem;
    color: #b0b0b0;
}


.btn {
    display: block;
    background-color: #3b76ba;
    color: #fff;
    padding: 12px 30px;
    border: none;
    border-radius: 10px;
    font-size: 28px;
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: auto;
}

.btn:hover {
    background-color: #225792;
}


footer {
    background-color: #0f0b25;
    color: #b0b0b0;
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    border-top: 2px solid #6e4aff;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-logo {
    height: 80px;
    width: auto;
    margin: 0;
    padding: 0;
}

footer p {
    margin: 0;
    font-size: 20px;
    font-weight: 600;
}